@import './editor.css';
@layer base{
    @font-face {
        font-family: STXINGKA;
        src: url("../public/font/STXINGKA.TTF");
    }
}
@layer base{
    @font-face {
        font-family: NothingYouCouldDo;
        src: url("../public/font/NothingYouCouldDo-Regular.ttf");
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/*body {*/
/*    cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='),*/
/*    auto;*/
/*}*/